.course-box {
	width: 240px;
	box-shadow: 0 0 3px 0.5px rgb(0 0 0 / 19%);
	margin: 20px 0;
	padding: 5px;
	border-radius: 2px;
}
.course-box:hover {
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}
.course-img {
}
.course-img img {
	cursor: pointer;
	width: 100%;
}
.course-title {
	font-size: 16px;
	font-weight: 700;
	margin: 8px 0 4px;
	color: #3c3b37;
	cursor: pointer;
}
.istructor-name {
	color: #73726c;
	font-size: 12px;
	margin: 0 0 4px;
}
.rating {
	font-size: 14px;
	margin: 0 0 4px;
	color: #be5a0e;
}

.rating small {
	font-size: 12px;
	color: #73726c;
}
.content-info {
	margin: 0 0 4px;
	color: #73726c;
	font-size: 12px;
}

.course-footer {
	margin: 4px 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.course-footer small {
	font-weight: 600;
}
.course-footer small,
.course-footer button {
	font-size: 16px;
	color: #3c3b37;
}
.course-footer button {
	padding: 4px 28px;
	border-radius: 3px;
	border: none;
	/* outline: ; */
	background-color: #006bff9e;
	color: white;
	cursor: pointer;
	outline: none;
}
.course-footer button:hover {
	background-color: #006affde;
}

@media (max-width: 425px) {
	.course-box {
		width: 180px;
		margin: 10px 0;
		padding: 3px;
		border-radius: 2px;
	}
	.course-box:hover {
		box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
	}
	.course-img img {
		cursor: pointer;
	}
	.course-title {
		font-size: 14px;
		font-weight: 500;
		margin: 4px 0 2px;
	}
	.istructor-name {
		color: #73726c;
		font-size: 12px;
		margin: 0 0 4px;
	}
	.rating {
		display: none;
	}

	.content-info {
		margin: 0 0 4px;
		color: #73726c;
		font-size: 12px;
	}
	.course-footer {
		margin: 4px 0 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

@media (max-width: 320px) {
	.course-box {
		/* max-width: 95%; */
		width: 92%;
		margin: 10px auto;
		padding: 3px;
		border-radius: 2px;
	}
	.content-info {
		display: none;
	}
	.course-footer button {
		padding: 4px 23px;
		border-radius: 2px;
		margin-top: 5px;
	}
	.course-title {
		font-size: 0.8em;
	}
}
/* 
@media (max-width: 300px){
	.course-box {
		max-width: 95%;
		width: 140px;
		margin: 10px auto;
		padding: 3px;
		border-radius: 2px;
	}
} */
