.flex-box-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d3d3d33d;
	height: 450px;
	padding: 0 100px;
}
.detail {
	max-width: 440px;
	padding: 24px;
	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.1);
	background-color: white;
	margin-top: -90px;
}
.detail h1 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-weight: 700;
	color: #3c3b37;
}
.detail p {
	color: #292828e0;
	margin: 7px 0px;
	font-size: 18px;
}
.imgage-div {
	width: 600px;
	margin: 0 -20px;
}
.imgage-div img {
	width: 100%;
}

@media (max-width: 768px) {
	.flex-box-cont {
		padding: 0 20px;
	}
	.detail {
		max-width: 300px;
		padding: 24px;
	}
	.detail h1 {
		font-size: 30px;
		font-weight: 600;
	}
	.detail p {
		margin: 7px 0px;
		font-size: 16px;
	}
	.imgage-div {
		width: 350px;
		margin: 0 -20px;
	}
	.imgage-div img {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.flex-box-cont {
		padding: 0 20px;
	}
	.flex-box-cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #d3d3d33d;
		height: 300px;
	}
	.detail {
		max-width: 300px;
		padding: 24px;
		margin: 0 auto;
	}

	.imgage-div {
		display: none;
	}
}
